@page "/addreservat"
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@using System.Net
@inject HttpClient Http
@inject AppState appState
@using Microsoft.AspNetCore.Antiforgery;
@attribute [AutoValidateAntiforgeryToken]

<PageTitle>Adicionar e Mudar Reserva</PageTitle>

<h1>Log Adicionar e Mudar Reserva!</h1>

@foreach (var linha in arrayDeLinhas)
{
    @linha
    <br />
}

@if (listLog == null || listLog.Count == 0)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data </th>
                <th>IdReserva</th>
                <th>Status</th>
                <th>Log</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (LogSistema logs in listLog)
            {
                <tr>
                    <td>@logs.DataLog.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td><a href='@logs.LinkReserva' target='_blank'> @logs.IDReserva</a></td>
                    <td>@logs.Status</td>
                    <td>@logs.Log</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public List<LogSistema>? listLog;
    string[] arrayDeLinhas;
    protected override async Task OnInitializedAsync()
    {
        listLog = appState.ListLogSistemaAddReserva;
        arrayDeLinhas = appState.MyMessageReservation.Split('\n');
    }

    // [IgnoreAntiforgeryToken]
    // [HttpPost]
    // public async Task<ActionResult> Post([FromBody] String jsonString)
    // {
    //     try
    //     {
    //         // add reference to Newtonsoft.Json
    //         //  using Newtonsoft.Json;

    //         // jsonString to myJsonObj
    //         //var myJsonObj = JsonConvert.DeserializeObject<Dictionary<string, dynamic>>(jsonString);

    //         // value1 is myJsonObj[key1]

    //         /* teste = jsonString */
    //         ;
    //         appState.MyMessageReservation += jsonString.ToString();

    //         return null;
    //     }
    //     catch (Exception ex)
    //     {
    //         return null;
    //     }

    }
 