@page "/fnrh"
@inject AppState appState
@rendermode InteractiveServer
@inject NavigationManager NavigationManager2
@attribute [StreamRendering(true)]

<PageTitle>Log FNRH</PageTitle>

<MudPaper Class="px-4 pt-2 pb-4 mx-4 my-4 rounded-xl" Justify="Justify.Center">
    <h1>Log FNRH</h1>
    @if (arrayDeLinhas.Length > 0)
    {
        @foreach (var linha in arrayDeLinhas)
        {
            @linha
            <br />
        }
    }
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               class="btn btn-lg rounded-xl"
               @onclick="Clear">
        Limpar
    </MudButton>
    <br /><br />
    @if (listLog != null && listLog.Count > 0)
    {
        <MudSpacer />
        <MudSimpleTable Hover="true" Striped="true" Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Data </th>
                    <th>IdReserva</th>
                    <th>Status</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LogSistema logs in listLog)
                {
                    <tr>
                        <td>@logs.DataLog.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td><a href='@logs.LinkReserva' target='_blank'> @logs.IDReserva</a></td>
                        <td>@logs.Status</td>
                        <td>@logs.Log</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
    else
    {
        <p role="status">Carregando...</p>
    }
</MudPaper>

@code
{
    public List<LogSistema>? listLog;
    string[] arrayDeLinhas = Array.Empty<string>();

    protected override async Task OnInitializedAsync()
    {
        arrayDeLinhas = appState.MyMessageFNRH.Split('\n');

        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        appState.MyMessage += "Passou pela reserva \n";

        if (appState.ListReservas.Count() > 0)
            listLog = appState.ListLogSistemaFNRH;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (firstRender)
        // {
        await Task.Delay(5000);

        listLog = appState.ListLogSistemaFNRH;
        arrayDeLinhas = appState.MyMessageFNRH.Split('\n');
        if (NavigationManager2.Uri.Contains("fnrh"))
            StateHasChanged();
        // }
    }

    private void Clear()
    {
        appState.MyMessageFNRH = string.Empty;
        arrayDeLinhas = Array.Empty<string>();
    }


}