@page "/"
@using HoteldosNobresBlazor.Classes
@using HoteldosNobresBlazor.Funcoes
@inject AppState appState
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManagerHome

@inject IJSRuntime JS

@inject IdentityRedirectManager RedirectManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudContainer Class="px-8 pt-2 mx-4 my-4" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4 d-flex flex-column rounded-xl" Style="height: 100%">
                <h1>Check-in today!</h1>
                @*  Check-in Today *@
                @if (listReservacheckin == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else if (listReservacheckin.Count() == 0)
                {
                    <p><em>Sem check-in.</em></p>
                }
                else
                {
                    <MudSimpleTable Dense="true" Hover="true" Striped="true" Style="overflow-x: auto;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome Hospede</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Reserva reserva1 in listReservacheckin)
                            {
                                <tr>
                                    <td><a href='@reserva1.LinkReserva' target='_blank'> @reserva1.IDReserva </a></td>
                                    <td> <a href='@reserva1.LinkReservaID'>@reserva1.NomeHospede!.Split(' ')[0].ToString()</a></td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                }
                <br />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4 d-flex flex-column rounded-xl" Style="height: 100%;">
                        Reservas novas today!
                        @*  Check-in Today *@
                        @if (listReservasnovas == null)
                        {
                            <p><em>Carregando...</em></p>
                        }
                        else if (listReservasnovas.Count() == 0)
                        {
                            <p><em>Sem reserva novas.</em></p>
                        }
                        else
                        {
                            <MudSimpleTable Dense="true" Hover="true" Striped="true" Style="overflow-x: auto;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome Hospede</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Reserva reserva1 in listReservasnovas)
                                    {
                                        <tr>
                                            <td><a href='@reserva1.LinkReserva' target='_blank'> @reserva1.IDReserva </a></td>
                                            <td> <a href='@reserva1.LinkReservaID'>@reserva1.NomeHospede!.Split(' ')[0].ToString()</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        }
                        <br />
                    </MudPaper>
                    
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4 flex-column rounded-xl" Style="height:  100%;">
                        <h1>Check-out today!</h1>
                        @*  Check-in Today *@
                        @if (listReservacheckout == null)
                        {
                            <p><em>Carregando...</em></p>
                        }
                        else if (listReservacheckout.Count() == 0)
                        {
                            <p><em>Sem check-out.</em></p>
                        }
                        else
                        {
                            <MudSimpleTable Dense="true" Hover="true" Striped="true" Style="overflow-x: auto;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome Hospede</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Reserva reserva1 in listReservacheckout)
                                    {
                                        <tr>
                                            <td><a href='@reserva1.LinkReserva' target='_blank'> @reserva1.IDReserva </a></td>
                                            <td> <a href='@reserva1.LinkReservaID'>@reserva1.NomeHospede!.Split(' ')[0].ToString()</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        }
                        <br />
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4  d-flex flex-column rounded-xl" Style="height: 200px;">
                <MudTextField T="string" Label="Consulta" @bind-Value="consulta" TextChanged="@Consulta" OnDebounceIntervalElapsed="Consulta"
                              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
                @if (listReservaconsulta == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else if (listReservaconsulta.Count() == 0)
                {
                    <p><em></em></p>
                }
                else
                {
                    <MudSimpleTable Dense="true" Hover="true" Striped="true" Style="overflow-x: auto;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome Hospede</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Reserva reserva1 in listReservaconsulta)
                            {
                                <tr>
                                    <td><a href='@reserva1.LinkReserva' target='_blank'> @reserva1.IDReserva </a></td>
                                    <td> <a href='@reserva1.LinkReservaID'>@reserva1.NomeHospede!.Split(' ')[0].ToString()</a></td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                }
            </MudPaper>
        </MudItem>
        
        <MudItem xs="12" sm="12" md="4">           
            <MudPaper Elevation="2" Class="pa-4 d-flex flex-column rounded-xl" Style="height: 200px;">
                Check-in X Check-out
                <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="100px" Height="100px" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4 d-flex flex-column rounded-xl" Style="height: 200px;">
                <h1>Hello, world!</h1>
                Welcome to your new app.
                @foreach (var linha in arrayDeLinhas)
                {
                    @linha <br />
                }
                <br />
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Class="ml-auto rounded-xl" 
                           @onclick="OpenIA">
                    IA
                </MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>



@code
{
    public string[] arrayDeLinhas;
    public List<Reserva>? listReservacheckin;
    public List<Reserva>? listReservacheckout;
    public List<Reserva>? listReservaconsulta;
    public List<Reserva>? listReservasnovas;
    private Reserva reserva;
    public string consulta = "";

    private int Index = 0; //default value cannot be 0 -> first selectedindex is 0.
     
    public double[] data;
    string[] labels;

    protected override async Task OnInitializedAsync()
    {
        arrayDeLinhas = appState.MyMessage.Split('\n');

        string datanow = DateTime.Now.ToString("yyyy-MM-dd");
        listReservacheckin = await FunctionAPICLOUDBEDs.getReservationsCheckinAsync(datanow);
        listReservacheckout = await FunctionAPICLOUDBEDs.getReservationsCheckOutAsync(datanow);
        listReservasnovas = await FunctionAPICLOUDBEDs.getReservationsNovasAsync(datanow);

        
        data = new double[] { listReservacheckin.Count(), listReservacheckout.Count() };
        labels = new string[] { "Check-in " + listReservacheckin.Count(), "Check-Out " + listReservacheckout.Count() };

    }

    private async Task HandleSubmit()
    {
        // await localStorage.SetItemAsync("cookietheme", "dark");
    }

    private async Task Consulta()
    {
        listReservaconsulta = null;
        if (!string.IsNullOrEmpty(consulta))
        {
            listReservaconsulta = new List<Reserva>();
            List<Reserva>? listReservacache = appState.ListReservas;
            listReservaconsulta.AddRange(listReservacache.Where(x => x.IDReserva!.Contains(consulta)));
            listReservaconsulta.AddRange(listReservacache.Where(x => x.NomeHospede!.Contains(consulta)));

            listReservaconsulta.AddRange(await FunctionAPICLOUDBEDs.getReservationsIDsAsync(consulta));
        }
        else
            listReservaconsulta = new List<Reserva>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // var cookieContent = await localStorage.GetItemAsync<string>("cookietheme");

        // if (cookieContent == null)
        // {
        //     Console.WriteLine("Cookie is Theme");
        // }
        // else
        // {
        //     Console.WriteLine("We have a cookie with contents: " + cookieContent);
        // }

        // if (cookieContent == null)
        // {
        //     await JS.InvokeVoidAsync("toggleTheme");
        // }
        // else
        // {
        //     await JS.InvokeVoidAsync("toggleTheme", cookieContent);
        // }
    }

    async Task OpenIA()
    { 
        // OpenAIAPI api = new OpenAIAPI(new APIAuthentication(KEYs.OPENAI)); // create object manually
        // var chat = api.Chat.CreateConversation(); 
        // Console.WriteLine(result);
    }
} 