@page "/reservas"
@using HoteldosNobresBlazor.Classes
@using HoteldosNobresBlazor.Funcoes
@inject IHttpClientFactory ClientFactory
@attribute [StreamRendering]
@inject AppState appState

<MudPaper Class="px-8 pt-2 pb-4 mx-4 my-4 rounded-xl" Justify="Justify.Center">
    <PageTitle>Lista Reserva</PageTitle>
    <br />
    <MudContainer>
        <MudPaper>
            @if (listReserva == null)
            {
                <p><em>Carregando...</em></p>
            }
            else
            {
                <MudSimpleTable Hover="true" Striped="true" Style="overflow-x: auto;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data Check In</th>
                            <th>Nome Hospede</th>
                            <th>Origem</th>  
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Reserva reserva1 in listReserva) 
                        {
                            <tr>
                                <td><a href='@reserva1.LinkReserva' target='_blank'> @reserva1.IDReserva </a></td>
                                <td>@reserva1.DataCheckIn.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                                <td>@reserva1.NomeHospede!.Split(' ')[0].ToString()</td>
                                <td>@reserva1.Origem</td> 
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable> 
            }

        </MudPaper>
    </MudContainer>
</MudPaper>

@code {
    public List<Reserva>? listReserva;
    private Reserva reserva; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Simulate asynchronous loading to demonstrate streaming rendering
            await Task.Delay(500);

            appState.MyMessage += "Passou pela reserva \n";

            if (appState.ListReservas.Count() > 0)
                listReserva = appState.ListReservas;
            else
            {
                listReserva = FunctionAPICLOUDBEDs.getReservationsAsyncGuestDetails().Result;
                // listReserva.AddRange(FunctionAPICLOUDBEDs.getReservationsAsync(null, DateTime.Now.ToString("yyyy-MM-dd")).Result);
                appState.ListReservas = listReserva;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }



    }



    }
