@page "/booking/{ReservationId}"
@using System.Security.Claims
@using System.Net.NetworkInformation
@using HoteldosNobresBlazor.Client.Pages.Component
@using System.Text.RegularExpressions
@using MosaicoSolutions.ViaCep
@using MosaicoSolutions.ViaCep.Modelos
@using Newtonsoft.Json
@using System.Globalization
@inject APICloudbeds cloudbedsAPI
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AppState appState
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

@rendermode InteractiveServer
@inherits LayoutComponentBase
@inject IDialogService DialogService

@attribute [AllowAnonymous]

<PageTitle> Reserva Hotel dos Nobres</PageTitle>

<MudPaper Class="px-8 pt-2 pb-4 mx-4 my-4 rounded-xl" Justify="Justify.Center" hidden="@(Disabled)">
    @if (guest is not null)
    {
        <MudForm>
            <MudList T="string" ReadOnly="true">
                <MudListItem T="string" IconColor="Color.Primary" Class="deep-purple-text mt-2" Icon="@Icons.Material.Filled.Info">Dados do Hóspede Principal</MudListItem>
                <MudListItem T="string">
                    <div class="d-flex">
                        <MudTextField T="string" Label="Nome" Class="deep-purple-text mt-2" Disabled="true" @bind-Value="guest.FirstName" />
                        <MudTextField T="string" Label="Celular/Telefone" Class="deep-purple-text mt-2" Disabled="true" @bind-Value="CellPhone" />
                    </div>
                </MudListItem>
                <MudTextField Label="CPF*" Disabled="@DisabledCPF" Placeholder="000.000.000-00" @bind-Value="CPF" Variant="@Variant.Outlined" Focu Clearable TextChanged="TextChangedCPF" />
                <MudDatePicker Label="Data de Nascimento*" Editable="true" Date="guest.Birthdate" ImmediateText="true" Placeholder="dia/mes/ano" DateFormat="dd/MM/yyyy" TextChanged="DatePickerTextChanged" Variant="@Variant.Outlined" Clearable="true" />

                <MudTextField T="string" Label="E-mail" Disabled="@Disabled" @bind-Value="guest.Email" Variant="Variant.Outlined" />
                <MudListItem Class="deep-purple-text mt-2" IconColor="Color.Primary" Icon="@Icons.Material.Filled.House"> Endereço </MudListItem>
                <MudTextField T="string" Label="CEP" @bind-Value="guest.Zip" TextChanged="@SearchCEP"
                Disabled="@Disabled" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" Variant="Variant.Outlined" />
                <MudTextField T="string" Label="Endereço - Rua/Avenida + Número + Compl." Disabled="DisableEndereco" @bind-Value="guest.Address" Variant="Variant.Outlined" />
                <MudListItem T="string">
                    <div class="d-flex">
                        <MudTextField T="string" Class="deep-purple-text mt-2" Label="Bairro" Disabled="true" @bind-Value="guest.Address2" />
                        <MudTextField T="string" Class="deep-purple-text mt-2" Label="Cidade" Disabled="true" @bind-Value="guest.City" />
                    </div>
                </MudListItem>
                <MudListItem T="string">
                    <div class="d-flex">
                        <MudTextField T="string" Label="Estado" Disabled="true" @bind-Value="guest.State" />
                        <MudTextField T="string" Label="Pais" Disabled="true" @bind-Value="guest.GuestCountry" />
                    </div>
                </MudListItem>
            </MudList>
            <div class="mt-4">
                <MudButton Variant="Variant.Filled"
                Color="Color.Primary"
                Class="ml-auto rounded-xl"
                Disabled="@DisabledSave"
                @onclick="OpenDialog">
                    Salvar
                </MudButton>
            </div>
        </MudForm>
    }
    else
    {
        <MudGrid Justify="Justify.Center" Class="align-items-center">
            <MudItem>
                <MudProgressCircular Indeterminate="true"></MudProgressCircular>
            </MudItem>
        </MudGrid>
    }
</MudPaper>

<MudPaper Class="px-8 pt-2 pb-4 mx-4 my-4 rounded-xl" Justify="Justify.Center" hidden="@(!HorarioFlag)">
    @if (reserva is not null)
    {
        <MudSelect T="string" @bind-Value="HorarioAproximado" Label="Horário estimado de chegada" AnchorOrigin="Origin.BottomCenter" TextChanged="HorarioChange" Variant="Variant.Outlined" Clearable>
            <MudSelectItem Value="@("14:00")">14:00</MudSelectItem>
            <MudSelectItem Value="@("15:00")">15:00</MudSelectItem>
            <MudSelectItem Value="@("16:00")">16:00</MudSelectItem>
            <MudSelectItem Value="@("17:00")">17:00</MudSelectItem>
            <MudSelectItem Value="@("18:00")">18:00</MudSelectItem>
            <MudSelectItem Value="@("19:00")">19:00</MudSelectItem>
            <MudSelectItem Value="@("20:00")">20:00</MudSelectItem>
            <MudSelectItem Value="@("21:00")">21:00</MudSelectItem>
            <MudSelectItem Value="@("22:00")">22:00</MudSelectItem>
            <MudSelectItem Value="@("23:00")">23:00</MudSelectItem>
        </MudSelect>
        <MudButton Variant="Variant.Filled"
        Color="Color.Primary"
        Class="ml-auto rounded-xl"
        Disabled="@DisabledSaveHorario"
        @onclick="ConfirmaReserva">
            Confirma reserva no horario: @HorarioAproximado
        </MudButton>
    }   
</MudPaper>


<MudPaper Class="px-8 pt-2 pb-4 mx-4 my-4 rounded-xl" Justify="Justify.Center" hidden="@(!Disabled)">
    @if (reserva is not null)
    {
        <CardBooking reserva=reserva />
    }
</MudPaper>

<MudText Typo="Typo.subtitle1" Class="px-8 pt-2 pb-4 mx-4 my-4 align-items-center" Align="Align.Center">
    <i class="fas fa-brands fa-creative-commons"></i> Feito com <i class="fas fa-heart"></i> pela <a href="https://instagram.com/hoteldosnobres" target="_blank" rel="nofollow">Equipe do Hotel dos Nobres</a>
</MudText>

@code {
    [Parameter]
    public string ReservationId { get; set; }

    public Reserva reserva { get; set; }

    public Guest guest { get; set; }
    private UserInfo user = default!;
    public string CPF { get; set; }
    public string CellPhone { get; set; }
    private string emailota { get; set; }
    public string HorarioAproximado { get; set; }

    bool ReadOnly = false;
    bool NestedReadOnly;
    bool Disabled = false;
    bool NestedDisabled;
    bool DisabledSave = false;
    bool DisabledCPF = false;
    bool DisableEndereco = false;
    bool HorarioFlag = false;
    bool DisabledSaveHorario = true;

    protected override async Task OnInitializedAsync()
    {
        string userId = string.Empty;
        var authorization = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authorization.User.Identity!.IsAuthenticated)
        {
            user = new UserInfo(authorization.User);
            userId = user.UserId;
        }

        try
        {
            List<Reserva> lista = appState.ListReservas;

            if (lista is not null)
            {
                reserva = lista.FirstOrDefault(x => x.IDReservaAgencia is not null && x.IDReservaAgencia.Equals(ReservationId));

                if (reserva is null)
                    reserva = lista.FirstOrDefault(x => x.IDReserva is not null && x.IDReserva.Equals(ReservationId));

                if (reserva is null)
                    reserva = await cloudbedsAPI.GetReservaAsync(ReservationId);

                if (reserva is not null)
                {
                    reserva = await cloudbedsAPI.GetReservaAsync(reserva.IDReserva);
                    guest = await cloudbedsAPI.GetGuestAsync(reserva.GuestID!);

                    if (reserva.Status is not null && reserva.Status.Equals("canceled"))
                        throw new ArgumentException("Booking canceled.");


                    if (reserva.HorarioAproximado is not null)
                    {
                        HorarioAproximado = reserva.HorarioAproximado.GetValueOrDefault().ToString("HH:mm");
                        HorarioFlag = false;
                    }
                    else if ((!Disabled) && reserva.DataCheckIn is not null && DateTime.Now >= reserva.DataCheckIn)
                        HorarioFlag = true;
                }
            }


            if (guest is not null)
            {
                if (!string.IsNullOrEmpty(userId) && !guest.GuestId.ToString().Equals(userId))
                    throw new ArgumentException("Booking canceled.");

                if (guest.Phone!.Length > 10)
                    CellPhone = guest.Phone!.Substring(0, 10) + "**-****";
                else
                    CellPhone = guest.Phone!.Substring(0, 6) + "**-****";

                if (guest.Email!.Contains("guest.booking.com") || guest.Email!.Contains("expediapartnercentral.com"))
                {
                    emailota = guest.Email.ToString();
                    guest.Email = null;
                }

                DisabledCPF = false;
                foreach (var item in guest.CustomFields)
                {
                    if (item.CustomFieldName.Equals("CPF"))
                    {
                        string cpfstring = Regex.Replace(item.CustomFieldValue, @"[^\d]", "");
                        if (!string.IsNullOrEmpty(cpfstring))
                        {
                            DisabledCPF = true;
                            ReadOnly = true;
                            Disabled = true;
                            DisabledSave = true;
                            DisabledCPF = true;
                            DisableEndereco = true;
                            CPF = "***.***." + cpfstring.Substring(cpfstring.Length - 4);
                        }
                    }

                }
            }
            else
                Navigation.NavigateTo("https://hoteldosnobres.com.br/");

        }
        catch (Exception ex)
        {
            Snackbar.Add("Erro ao carregar a reserva!", Severity.Error);
            if (!string.IsNullOrEmpty(userId))
                Navigation.NavigateTo("/minhareserva");
            else
                Navigation.NavigateTo("https://hoteldosnobres.com.br/");
        }

    }

    protected async Task Editar()
    {
        Disabled = !Disabled;
        ReadOnly = !ReadOnly;
        DisabledSave = !DisabledSave;

    }

    async Task OpenDialog()
    {
        if (Validacao())
            return;

        bool license_accepted = false;
        var result = await DialogService.Show<DialogLicense>("Termos e Condições ").Result;

        if (!result.Canceled)
        {
            license_accepted = (bool)(result.Data ?? false);
            if (license_accepted)
            {
                await Salvar();
                reserva = await cloudbedsAPI.GetReservaAsync(reserva.IDReserva);
            }
        }
    }

    protected async Task Salvar()
    {
        try
        {

            List<string> listaparametros = new List<string>();

            if (guest.Birthdate is not null)
            {
                if (!string.IsNullOrEmpty(guest.Birthdate.Value.ToString("yyyy-MM-dd")))
                    cloudbedsAPI.PutGuestAsync(guest.GuestId.ToString(), "guestBirthDate", guest.Birthdate.Value.ToString("yyyy-MM-dd"));
                CustomField? customField = new CustomField();
                customField!.CustomFieldName = "Data_de_Nascimento";
                customField!.CustomFieldValue = guest.Birthdate.Value.ToString("dd/MM/yyyy");
                var text = JsonConvert.SerializeObject(customField);

                listaparametros.Add("guestBirthdate");
                listaparametros.Add("'" + guest.Birthdate.Value.ToString("yyyy-MM-dd") + "'");

                cloudbedsAPI.PutGuestAsync(guest.GuestId.ToString(), "guestCustomFields", "[" + text.ToString() + "]");

            }

            if (!string.IsNullOrEmpty(guest.GuestGender))
            {
                listaparametros.Add("guestGender");
                listaparametros.Add(guest.GuestGender);
            }

            if (!string.IsNullOrEmpty(guest.GuestZip))
            {
                listaparametros.Add("guestZip");
                listaparametros.Add(guest.GuestZip);
            }

            if (!string.IsNullOrEmpty(guest.GuestAddress))
            {
                listaparametros.Add("guestAddress");
                listaparametros.Add(guest.GuestAddress);
            }

            if (!string.IsNullOrEmpty(guest.GuestAddress2))
            {
                listaparametros.Add("guestAddress2");
                listaparametros.Add(guest.GuestAddress2!);
            }

            if (!string.IsNullOrEmpty(guest.GuestCity))
            {
                listaparametros.Add("guestCity");
                listaparametros.Add(guest.GuestCity!);
            }

            if (!string.IsNullOrEmpty(guest.GuestState))
            {
                listaparametros.Add("guestState");
                listaparametros.Add(guest.GuestState!);
            }

            if (!DisabledCPF && !string.IsNullOrEmpty(CPF))
            {
                reserva.Cpf = CPF;
                CustomField? customField = guest.CustomFields.Where(x => x.CustomFieldName.Equals("CPF")).FirstOrDefault();
                if (customField is null)
                    customField = new CustomField();
                customField!.CustomFieldName = "CPF";
                customField!.CustomFieldValue = reserva.ProxyCPF;
                var text = JsonConvert.SerializeObject(customField);
                cloudbedsAPI.PutGuestDNIAsync(reserva.GuestID!, reserva.ProxyCPF);

                listaparametros.Add("guestCustomFields");
                listaparametros.Add("[" + text.ToString() + "]");

                listaparametros.Add("guestTaxId");
                listaparametros.Add(@"""" + reserva.ProxyCPF + @"""");
            }

            if (listaparametros.Count > 2)
                cloudbedsAPI.PutGuestMaisAsync(guest.GuestId.ToString(), listaparametros);

            if (!string.IsNullOrEmpty(emailota))
                MandarEmail();

            Snackbar.Add("Cadastrado alterado com sucesso!", Severity.Success);

            Disabled = !Disabled;
            ReadOnly = !ReadOnly;
            DisabledSave = !DisabledSave;
            DisabledCPF = true;

            if (!DisableEndereco)
                DisableEndereco = true;

        }
        catch (Exception ex)
        {
            Snackbar.Add("Erro ao alterar o cadastro!", Severity.Error);
        }
    }

    private void MandarEmail()
    {
        try
        {
            string mensagem = " Foi informado o CPF: " + reserva.Cpf + " e Data de Nascimento: " + guest.Birthdate!.Value.ToString("dd/MM/yyyy");
            FuncoesEmail.EnviarEmail(emailota, mensagem, "Mensagem do Hotel dos Nobres");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected bool Validacao()
    {
        if (string.IsNullOrEmpty(CPF))
        {
            Snackbar.Add("Deverá informar um CPF", Severity.Warning);
            return true;
        }
        if (string.IsNullOrEmpty(guest.Birthdate!.Value.ToString("yyyy-MM-dd")))
        {
            Snackbar.Add("Deverá informar um Data de Nascimento", Severity.Warning);
            return true;
        }

        if (string.IsNullOrEmpty(guest.GuestZip))
        {
            Snackbar.Add(
                new MarkupString($"<div><h3>Deverá informar um CEP</h3><ul><li>Coloque o <strong>CEP</strong></li><li>Depois coloque <em>a rua e o número</em></li> </ul> </div>")
            , Severity.Warning);
            return true;
        }

        return false;

    }

    private void SearchCEP(string value)
    {
        if (value.Length >= 8)
        {
            try
            {
                Cep cep = value;
                var viaCepService = ViaCepService.Default();
                var endereco = viaCepService.ObterEndereco(cep);
                string Cidade = endereco.Localidade;
                guest.City = Cidade;
                if (string.IsNullOrEmpty(guest.Address))
                    guest.Address = endereco.Logradouro;
                guest.State = endereco.UF;
                guest.Country = "BRASIL";
                guest.Address2 = endereco.Bairro;
                guest.Zip = endereco.Cep;

                if (!Disabled && DisableEndereco)
                    DisableEndereco = false;
            }
            catch (Exception ex)
            {
                Snackbar.Add("CEP não encontrado!", Severity.Error);
            }

        }
        else
        {
        }

    }

    private void DatePickerTextChanged(string newValue)
    {
        if (!string.IsNullOrEmpty(newValue))
        {
            newValue = new string(newValue.Where(char.IsDigit).ToArray());
            if (!string.IsNullOrEmpty(newValue) && (newValue.Length == 6 || newValue.Length == 8))
            {
                string[] formats = { "ddMMyy", "ddMMyyyy", "dd/MM/yyyy", "dd/M/yyyy", "d/MM/yyyy", "d/M/yyyy", "dd/MM/yy", "dd/M/yy", "d/MM/yy", "d/M/yy" };
                if (DateTime.TryParseExact(newValue, formats, CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime validDate))
                {
                    guest.Birthdate = validDate;
                }
            }

        }

    }

    protected async Task TextChangedCPF(string newValue)
    {
        try
        {
            if (!string.IsNullOrEmpty(newValue))
            {
                newValue = new string(newValue.Where(char.IsDigit).ToArray());

                if (!string.IsNullOrEmpty(newValue) && newValue.Length == 11)
                    CPF = Convert.ToUInt64(newValue.Replace(" ", "").Replace(".", "").Replace("-", "")).ToString(@"000\.000\.000\-00");
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Erro atualizar o nome.", Severity.Error);
            Console.WriteLine(ex.Message);
        }
    }

    private async Task HorarioOnValueChangeHandler(string newValue)
    {
        try
        {
            DateTime horario = DateTime.Parse(newValue);
            if (horario.Hour >= 14 && horario.Hour <= 23)
            {
                cloudbedsAPI.PutReservaAsync(reserva.IDReserva.ToString(), "estimatedArrivalTime", horario.ToString("HH:mm"));
            }
            else
            {
                Snackbar.Add("O horário previsão de chegada está fora 14 horas e 23 horas.", Severity.Warning);
            }

        }
        catch (Exception ex)
        {
            Snackbar.Add("Erro autualizar horario", Severity.Error);
            Console.WriteLine(ex.Message);
        }
    }

    private async Task ConfirmaReserva()
    {
        try
        {
            if (!string.IsNullOrEmpty(HorarioAproximado))
            {
                HorarioFlag = false;
                HorarioOnValueChangeHandler(HorarioAproximado);
                Snackbar.Add("Reserva confirmada com sucesso!", Severity.Success);
            }
            else 
                Snackbar.Add("Selecione um horario!", Severity.Warning);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Erro ao confirmar a reserva!", Severity.Error);
            HorarioFlag = true;
        }
    }

    private async Task HorarioChange()
    { 
        if (string.IsNullOrEmpty(HorarioAproximado))
            DisabledSaveHorario = true; 
        else
            DisabledSaveHorario = false;
    }
}
