@page "/minhareserva/{ReservationId}"
@inject NavigationManager navigationManager
@inject APICloudbeds cloudbedsAPI

@rendermode InteractiveAuto

<PageTitle>Reserva</PageTitle>

<MudPaper Class="px-8 pt-2 pb-4 mx-4 my-4 rounded-xl" Justify="Justify.Center">
    @if (reserva is not null)
    { 
        <MudText Align="Align.Center" Class="mb-n4" Ena> Sua reserva está @reserva.ProxyStatus  </MudText>
        <MudText Align="Align.Center" Class="mb-n4"> - </MudText>
        <MudForm Disabled="Disabled">
            @* <MudNumericField T="int" Label="Number" Disabled="true" @bind-Value="reserva.IDReserva" /> *@
            <MudTextField T="string" Label="Número" Disabled="true" @bind-Value="reserva.IDReserva" />
            <MudTextField T="string" Label="Nome do Hospede Principal" Disabled="true" @bind-Value="reserva.NomeHospede" />
            <MudDatePicker Label="Check-In" Disabled="true" @bind-Date="reserva.DataCheckIn" Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="pt-BR Date" />
            <MudDatePicker Label="Check-Out" Disabled="true" @bind-Date="reserva.DataCheckOut" Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="pt-BR Date" />
            @* <MudNumericField T="int" Label="Number" Disabled="true" @bind-Value="reserva.Noites.GetValueOrDefault()" /> *@
            <MudTextField T="string" Label="Origem" Disabled="true" @bind-Value="reserva.Origem" />
            @if (!string.IsNullOrEmpty(reserva.IDReservaAgencia))
            {
                <MudTextField T="string" Label="Número da reserva via agência" Disabled="true" @bind-Value="reserva.IDReservaAgencia" />
            }
            <MudTextField T="int?" Label="Número de Hospedes: " Disabled="true" @bind-Value="reserva.Hospedes" />


            @* <MudSwitch T="bool" Label="Switch" />
        <MudCheckBox T="bool" Label="CheckBox" />
        <MudRadioGroup T="string">
        <MudRadio Option="@("1")">1</MudRadio>
        <MudRadio Option="@("2")">2</MudRadio>
        </MudRadioGroup>
        <MudForm Disabled="NestedDisabled">
        <MudText Align="Align.Center" Class="mb-n4 mt-2">Nested Form</MudText>
        <MudTextField T="string" Label="Nested Text" />
        <MudNumericField T="int" Label="Nested Number" />
        </MudForm> *@
        </MudForm>

        @* <MudCardActions>
    <MudCheckBox @bind-Checked="Disabled">Disabled</MudCheckBox>
    <MudCheckBox @bind-Checked="NestedDisabled">Nested Disabled</MudCheckBox>
    </MudCardActions> *@
    }
    else
    {
        <MudProgressCircular Indeterminate="true"></MudProgressCircular>

    }
</MudPaper>


@* <div class="d-flex align-center justify-space-between mt-4">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               Disabled="@(!success)"
               Class="ml-auto"
               @onclick="Editar">
        Salvar
    </MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Warning"
               Class="ml-3"
               @onclick="Deletar">
        Excluir
    </MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Info"
               Class="ml-3"
               @onclick="VoltarParaListagem">
        Voltar
    </MudButton>
</div> *@



@code {
    [Parameter]
    public string ReservationId { get; set; }

    public Reserva reserva { get; set; }

    bool ReadOnly = true;
    bool NestedReadOnly;
    bool Disabled = true;
    bool NestedDisabled;

    protected override async Task OnInitializedAsync()
    {
        reserva = await cloudbedsAPI.GetReservaAsync(ReservationId);
    }
} 